
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/uploads/
###< symfony/asset-mapper ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
.venv

/video-analyzer/python/venv/

###> symfonycasts/sass-bundle ###
/public/assets/
###< symfonycasts/sass-bundle ###

# Docker & Persistence
/docker/plex/config/
/docker/plex/movies/
/docker/plex/tvseries/
/docker/plex/uploads/
/docker/db/data/

# IDE & OS
.idea/
.DS_Store
Thumbs.db
/docker/plex/config/Library/Application Support/Plex Media Server/Logs/
/docker/jellyfin/cache/
/docker/jellyfin/
