{% extends 'base.html.twig' %}
{% block title %}Persons{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Person Listing</h1>

        <div class="row g-4">
            {% for person in persons %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                    {{ component('PersonComponent', {
                        person: person,
                        key: 'person-' ~ person.id
                    }) }}
                </div>
            {% else %}
                <div class="col-12 text-center py-5">
                    <p class="text-muted">No persons found in database.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}