{% extends 'base.html.twig' %}
{% block title %}Personen - Momentary{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="fw-bold mb-4">Personen</h1>

        {{ component('PersonListingComponent', {
            statuses: statuses,
            search: search
        }) }}
    </div>
{% endblock %}