{% extends 'base.html.twig' %}

{% block title %}Tinder-Identifizierung{% endblock %}

{% block body %}
    <div class="container-fluid py-4">
        {{ component('TinderResolveComponent') }}
    </div>
{% endblock %}
